body {
    background-color: #dae5f0;
    font-family: cursive;
}

header {
    background-color: rgb(45, 42, 42);
    color: white;
    text-align: center;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.moodBoksit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.valinnat {
    background-color: white;
    padding: 15px;
    border-radius: 10px;

    h2 {
        text-align: center;
    }
}

.merkinnat {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 40rem;
}

.moodBs {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.moodButton {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    color: white;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
        border: none;
        background-color: darkorchid;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
}





